<a href="https://colab.research.google.com/github/MohammedNasserAhmed/firststone/blob/master/Day_2_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Built-in Data Types: Numbers

In [ ]:
num = 10
print("The number (", num, ") is of type", type(num))

num = 10.0
print("The number (", num, ") is of type", type(num))

num = 3+5j
print("The number ", num, " is of type", type(num))
print("Is the number ", num, "a complex number?", isinstance(3+5j, complex))

The number ( 10 ) is of type <class 'int'>
The number ( 10.0 ) is of type <class 'float'>
The number  (3+5j)  is of type <class 'complex'>
Is the number  (3+5j) a complex number? True

In [ ]:
# Type Conversion and Input

age = input('How old are you? ')
print(age)
print('In 5 years, your age will be', age + 5)

How old are you? 31
31

TypeError: ignored

In [ ]:
print('In 5 years, your age will be', int(age) + 5)

### Built-in Data Types: Strings

In [ ]:
# create a string variable and assign value to it.

name = 'Ashish'
print(name)
type(name)

Ashish

str

In [ ]:
# create another variable

another_name = "Ashish"
print(another_name)

In [ ]:
# we can check if both strings are equal

name == another_name

In [ ]:
# modify 'name' to have value 'Ankit' and then again compare

name = "Ankit"
name == another_name
# name != another_name

In [ ]:
# string with apostrophe

name = "intro to python"
descr  = 'acad's first course'

In [ ]:
'''How would you correct this?
a. Put the whole string within double quotes.
b. Use escape character
'''

In [ ]:
# Use of escape character '\'(?)

descr  = 'acad\'s first course'
print(descr)

# Use of double quotes

#descr = "Everybody's course in Programming"
#print(descr)

acad's first course

In [ ]:
# len() method returns length of the string

name = 'intro to python'
empty = ''
single = 'a'

print(len(name), len(empty), len(single))

In [ ]:
# What do you expect here?
a = str(3 + 29)
print(a)
type(a)

32

str

### Operations on Strings

In [ ]:
# operations on strings

first_phrase = "hello!.. "
second_phrase = "Hello! Who is this?"
third_phrase = "I won't fly paper airplanes in the class!"

print(first_phrase * 3) # repeats the string three times

print(first_phrase + second_phrase) # concatenates the two strings

print(third_phrase * 10) # repeats the string ten times

In [ ]:
'''
Write a script to print third_phrase 10 times, but on a new line.
'''

In [ ]:
# concatenate more than two strings

details = name + ', ' + descr
details

In [ ]:
'''
What would be the result of the following statement?
second_phrase / first_phrase
'''

In [ ]:
# Substring Membership in Strings
'z' not in 'abc'
#'ab' in 'abc'
#'z' not in 'xyz'

False

### Indexing and Slicing in Strings

In [ ]:
# indexing

name = 'Acads'

print(name[0]) # print the first character in the string

print(name[3]) # print the fourth character in the string

A
d

In [ ]:
'''
What is the result of following statements?

c = name[3]
type(c)

a. obj
b. str
c. char
'''

'\nWhat is the result of following statements?\n\nc = name[3]\ntype(c)\n\na. obj\nb. str\nc. char\n'

In [ ]:
print(name[-6]) # get sixth character from the right side

In [ ]:
'''
Which character will be returned by the following statement?
name[5]
'''

In [ ]:
print(name[-1]) # print the last character

print(name[-2]) # print the second last character

s
d

In [ ]:
# substring

# print first three letters
print(name[:3]) # print(name[0:3])

# print letters from index 1 to index 4
print(name[1:5])

Aca
cads

In [ ]:
'''
Can we pass slice of a string to len() method?
'''

In [ ]:
# slicing the string using 0:length gives the original string

name == name[0:len(name)]

True

In [ ]:
name[:2] # string containing characters upto index 1

'Ac'

In [ ]:
name[:] # string containing all the characters

'Acads'

In [ ]:
print(name[-4:-1]) # substring from fourth last character to the second last character from end

print(name[-4:]) # substring from fourth last character of string

print(name[-4:4]) # substring from fourth last character to the character at index 3

cad
cads
cad

In [ ]:
name[1:7] # note that the original string has only 5 characters

'cads'

In [ ]:
name[7:1]

''

In [ ]:
# Specifying a Stride in a String Slice
s = "Atul Gupta"
s[0:6:2]
#s[1:6:2]

'Au '

### Other String Functions

In [ ]:
title = 'dell inc.'

# Convert first character of the string to upper case
title.capitalize()

'Dell inc.'

In [ ]:
title = 'DELL INC.'

# Convert case
title.casefold()

'dell inc.'

In [ ]:
# count how many times a letter occurs in a string
title.count('L')

2

In [ ]:
# get the position of a character in a string
title.find('C')

7

In [ ]:
'''
What happens if we pass a character that is not present in the string?
'''

In [ ]:
# check if the string ends with a specified value
title.endswith('inc.')

False

In [ ]:
'''
Modify above statement so that it returns True.
'''

In [ ]:
name = '1st Python Programming Course !'

name.isalnum() # checks if all characters in a string are alphaneumeric

False

In [ ]:
# lets get rid of '!'
# we replace '!' with 'nothing'
print(name)
name.replace('!', '')

1st Python Programming Course !

'1st Python Programming Course '

In [ ]:
'''
What would be the result of the following statement at this point of time?
print(name)

a. 1st Python Programming Course
b. 1st Python Programming Course!
'''

In [ ]:
'''
If your answer is option b,
then modify statments in above cells to get option a as the answer.
'''

In [ ]:
# check if all characters in the string are:
# uppercase or lowercase
# or if the string follow all rules of a title

name = 'Python Programming Course!'

print(name.isupper())

print(name.islower())

print(name.istitle())

False
False
False

In [ ]:
# join a list of elements in an iterable with a '-'

print('-'.join(['Welcome', 'to', 'this', 'course!']))

Welcome-to-this-course!

In [ ]:
string = 'atukl1'

# check if the string is an identifier (?)
string.isidentifier()

False

# Unpacking a string

In [ ]:
# split the string at specified seperator

name.split(' ')

['Python', 'Programming', 'course!']

In [ ]:
'''
Check the type of object returned by split() method.
'''

In [ ]:
initials = 'USA'

# unpack the string to get the characters (?)
a, b, c = initials

print(a, b, c)

U S A

###Some Example Programs on Strings

In [ ]:
# More compact way..

txt = "Hello World"[::-1]
print(txt)

dlroW olleH

In [ ]:
# last occurance of a substring

txt = 'the the loudest word ever shouted is probably the word quiet'
substring = 'word'
index = txt.rfind(substring)
print("Last occurrence of '%s' starts at %d" % (substring, index))

Last occurrence of 'word' starts at 50

In [ ]:
# given an odd length string, get middle three characters

smapleStr = 'nationalist'
middleIndex = int(len(sampleStr) /2)
print("Original String is", sampleStr)
middleThree = sampleStr[middleIndex-1:middleIndex+2]
print("Middle three chars are", middleThree)