<a href="https://colab.research.google.com/github/MohammedNasserAhmed/firststone/blob/master/Day_2_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variables

In [ ]:
# declaring and initializing the variables

m = 64
c = 'acads'
f = 3.1416

In [ ]:
# print the value held by 'f'

print(f)

3.1416

In [ ]:
# assign new value to the existing variable

f = 2.7183
print(f)

2.7183

In [ ]:
# You can even change the type 

f = "first day session 3"
print(f)

first day session 3

In [ ]:
# valid variable names
"""This is a doc string.
It can span multiple lines.
Like I am spanning 3 lines"""

i = 5
count = 0
Lab5 = 'python data types'
max_profit = 100
_left = False
fUnNy = 5.7

print("i =", i)
print("count =", count)
print("Lab5 = ", Lab5)
print("max_profit =", max_profit)
print("_left =", _left)
print("fUnNy =", fUnNy)
print(mcomment)

i = 5
count = 0
Lab5 =  python data types
max_profit = 100
_left = False
fUnNy = 5.7
This is a doc string.
It can multiple lines.
Like I am spanning 3 lines

In [ ]:
# invalid variable names

# 5j = 50
# min profit = 10.4
# lab.7 = 'data science'

In [ ]:
# get a list of keywords in python

import keyword #import the package 'keyword'

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# keywords cannot be used as a variable name. Note that 'class' is a keyword in python.

# class = 6.4

SyntaxError: ignored

In [ ]:
# variable names are case sensitive. So 'number' and 'NumBer' will be treated as a different variables.

number = 100
NumBer = 201
print(NumBer, number)

201 100

In [ ]:
# Formatted output: Extra space here and there
print('The value of NumBer', NumBer, ' is greater than the value of ', number, '. Thats it!!')

The value of NumBer 201  is greater than the value of  100 . Thats it!!

In [ ]:
# Formatted output, without unwanted space
print('The value of NumBer is {} which is greater than {}. Thats it.'.format(NumBer, number*2))

The value of NumBer is 201 which is greater than 200. Thats it.

#Assignment Statement

In [ ]:
# to assign a value to a variable, '=' operator (assignment operator) can be used.

x = 10

In [ ]:
# expression on the RHS is first evaluated before assigning the value

#b = 3
#a = 8
#c = 4 
b, a, c = 3, 8, 4

disc_2 = b * b - 4 * a * c
print(disc_2)

-119

In [ ]:
count = 5

count = count + 1

count

In [ ]:
# initializing multiple variables

x , y = 10, 12
print(x, y)

10 12

In [ ]:
# increament values of both the variables by 1

x, y = x+1, y+1
print(x, y)

11 13

In [ ]:
# comments in python

pi = 3.14
radius = 10

diameter = 2 * radius # diameter of the circle
area = pi * radius * radius # and its area

print(diameter, area)

20 314.0

# Types

In [ ]:
# type() method can be used to see the type of an object passed to it

type(500)

In [ ]:
type(-200)

In [ ]:
type(3.1413)

In [ ]:
type(True)

In [ ]:
type(3 != 2)

In [ ]:
# explicit type conversion

int(2.5)

In [ ]:
int(2.3)

In [ ]:
int(3.9)

In [ ]:
float(3)

In [ ]:
int('73')+2

In [ ]:
int('Acads')

In [ ]:
str(3.14)

In [ ]:
str(26000)

In [ ]:
# Type Conversion and Input

age = input('How old are you? ')
age = int(age)

How old are you? 42

In [ ]:
print('In 5 years, your age will be', age + 5)

TypeError: ignored

In [ ]:
print('The double of your age will be', age * 2)

The double of your age will be 4242

In [ ]:
print('In 5 years, your age will be', int(age) + 5)

In 5 years, your age will be 47

In [ ]:
print('The double of your age will be', int(age) * 2)

The double of your age will be 84

In [ ]:
str, type  = type, str

print('The type of value 3.14 is', type(3.14))
print('The value of str(3.14) =', str(3.14))

The type of value 3.14 is 3.14
The value of str(3.14) = <class 'float'>

# Operators and Expressions

In [ ]:
# binary operators +, -, *, /, //, %

print(9 + 2)
print(9.1 + 2.0)

print(9 - 2)
print(9.1 - 2.0)

print(9 * 2)
print(9.1 * 2.0)

print(9 / 2)
print(9.1 / 2.0)

print(9 // 2)

print(9 % 2)

11
11.1
7
7.1
18
18.2
4.5
4.55
4
1

In [ ]:
# the // operator

print(9//4)

print(-1 // 2)

print((-1)// (-2))

print(1/-2)

print(1 // (-2))
str, type  = type, str

print('The value and type of 9 // 4.5 are {} {}'.format(9//4.5, type(9//4.5)))

2
-1
0
-0.5
-1
The value and type of 9 // 4.5 are 2.0 <class 'float'>

In [ ]:
# the % operator

print(9 % 4)

print((-1) % 2)

print((-1) % (-2))

print(1 % 0.6)

print(1 % (-2))

print(9 % 4.5)

1
1
-1
0.4
-1
0.0

In [ ]:
'''
Guess result of the expression below:
'''
x = -5 * 4 // 2 * 3 + -1 * 2
print(x)

-32